<!--The content below is only a placeholder and can be replaced.-->
<header class="header">
	<div class="header-content">
	<i class="fa fa-bars"></i>
	<img src="../assets/re-icon.png" height="40px">
	<span><strong>DIRECT TAX</strong></span>
<span class="offset-lg-7 right-header">
<select class="search-nav">
  <option value="plotform">PLAT FORM</option>
  <option value="taxinconvience">PLAT FORM</option>
  <option value="plotform">PLAT FORM</option>
  <option value="taxinconvience">PLAT FORM</option>
</select>
<button class="nav-search spacing"><i class="fa fa-search"></i></button>
<span>SwathiKiran</span>
<img src="../assets/person.png" height="40px" class="spacing">
</span>
</div>
</header>
<main class="main-content">
	<div class="row main-row">
		<div class="col-lg-2">
			<div class="left-side-list">
			<input type="serach" placeholder="Serach" class="search-bar">
			<ul class="list-unstyled list-items">
				<li><i class="fa fa-star"></i>Most Used Services<i class="fa fa-plus left-icon"></i></li>
				<li><i class="fa fa-home"></i>Home</li>
				<li><i class="fa fa-address-book"></i>About</li>
				<li><i class="fa fa-phone"></i>Contact</li>
				<li><i class="fa fa-file"></i>Pages<i class="fa fa-plus left-icon"></i></li>
				<li><i class="fa fa-cogs"></i>Services<i class="fa fa-plus left-icon"></i></li>
				<li class="plus-toggle"><i class="fa fa-star"></i>Master<i class="fa fa-minus left-icon"></i>
					<ul class="list-unstyled lists">
						<li><i class="fa fa-angle-right"></i>Category</li>
						<li><i class="fa fa-angle-right"></i>Insurance Area</li>
						<li><i class="fa fa-angle-right"></i>Insurance Risk Category<br>and Data Risk<br>Management</li>
						<li><i class="fa fa-angle-right"></i>Principle Insured</li>
					</ul>
				</li>
			</ul>
		</div>
    </div>
    <div class="col-lg-10">
      <div  class="right-side-content">
        <div class="row">
          <div class="col-lg-3">
               <fieldset class="border p-1">
                      <legend  class="w-auto">Rate Description *</legend>
                      <span><input type="text" value="SDXAd" style="border:none;"></span>
                    </fieldset>
          </div>
          <div class="col-lg-3">
               <fieldset class="border p-1">
                      <legend  class="w-auto">From Date *</legend>
                      <span><input type="date" style="border:none;"></span><i class="fa fa-calendar calen" aria-hidden="true"></i>
                    </fieldset>
          </div>
          <div class="col-lg-3 legend">
               <fieldset class="border p-1">
                      <legend  class="w-auto">To Date *</legend>
                      <span><input type="date" style="border:none;"></span><i class="fa fa-calendar calen" aria-hidden="true"></i>
                    </fieldset>
          </div>
 
        </div>
          <div class="offset-lg-8 offset-lg-10">
              <button class="cancel-btn"><i class="fas fa-times-circle"></i>CANCEL</button>
              <button class="save-btn"><i class="fa fa-save"></i>SAVE</button>
          </div>
 <hr>
  <span class="offset-lg-4">RTMLP</span>
  <span class="offset-lg-6">
  <i class="fa fa-plus plus icon-pad"></i>
  <i class="fa fa-cog setting icon-pad"></i>
  <i class="fa fa-file icon-pad"></i>
  </span>
   <table class="table table-bordered table-striped">
     <thead>
       <tr>
         <th>Rate</th>
         <th>Restriction<br>Based</th>
         <th>Restriction <br>of GTI</th>
         <th>Rate <br>Description</th>
         <th>Applicable Form</th>
         <th>Applicable To</th>
         <th>Action</th>
       </tr>
     </thead>
     <tbody>
       <tr class="row-bg">
         <td>500331</td>
         <td>Ril</td>
         <td>yes</td>
         <td>50%</td>
         <td>Tue Oct 01 2019 00:00:00 GMT+0530<br>(Indian Standard Time)</td>
         <td>Tue Oct 01 2019 00:00:00 GMT+0530<br>(Indian Standard Time)</td>
         <td class="icons-in-table"><i class="fas fa-pen"></i><br><i class="fa fa-trash"></i></td>
       </tr>
       <tr>
        <td>500331</td>
         <td>Ril</td>
         <td>yes</td>
         <td>50%</td>
         <td>Tue Oct 01 2019 00:00:00 GMT+0530<br>(Indian Standard Time)</td>
         <td>Tue Oct 01 2019 00:00:00 GMT+0530<br>(Indian Standard Time)</td>
         <td class="icons-in-table"><i class="fas fa-pen"></i><br><i class="fa fa-trash"></i></td>
       </tr>
       <tr class="row-bg">
        <td >500331</td>
         <td>Ril</td>
         <td>yes</td>
         <td>50%</td>
         <td>Tue Oct 01 2019 00:00:00 GMT+0530<br>(Indian Standard Time)</td>
         <td>Tue Oct 01 2019 00:00:00 GMT+0530<br>(Indian Standard Time)</td>
         <td class="icons-in-table"><i class="fas fa-pen"></i><br><i class="fa fa-trash"></i></td>
       </tr>
        <tr>
        <td>500331</td>
         <td>Ril</td>
         <td>yes</td>
         <td>50%</td>
         <td>Tue Oct 01 2019 00:00:00 GMT+0530<br>(Indian Standard Time)</td>
         <td>Tue Oct 01 2019 00:00:00 GMT+0530<br>(Indian Standard Time)</td>
         <td class="icons-in-table"><i class="fas fa-pen"></i><br><i class="fa fa-trash"></i></td>
       </tr>
     </tbody>
     <tfoot>
       <tr>
         <td colspan="7">
           <span class="offset-lg-8">
           <span>Items Per Page:</span>
            <select>
                   <option>10</option>
                   <option>9</option>
                   <option>8</option>
                   <option>7</option>
                  </select>
                  <span>1-10 of 14</span>
 
                <a href="#"><i class="fa fa-angle-right"></i>
                <i class="fa fa-angle-right"></i>
            </a>
               </span>
          </td>
       </tr>
     </tfoot>
   </table>
  </div>
</div>
</div>
</main>
<router-outlet></router-outlet>
